In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [10]:
school_data.head()

   School ID            school_name         type  size   budget
0          0      Huang High School   Government  2917  1910635
1          1   Figueroa High School   Government  2949  1884411
2          2    Shelton High School  Independent  1761  1056600
3          3  Hernandez High School   Government  4635  3022020
4          4    Griffin High School  Independent  1468   917500

In [7]:
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [19]:
total_school = len(school_data_complete["school_name"].unique())
# total_school = 15, checked ok
total_student = len(school_data_complete["Student ID"].unique())
# total_student = 39170, checked ok
total_budget = school_data["budget"].sum()
# total_budget = 24649428, checked ok
average_maths = school_data_complete["maths_score"].mean()
# average_maths = 70.33819249425581 checked ok
average_reading = school_data_complete["reading_score"].mean()
# average_reading = 69.98013786060761 checked ok

69.98013786060761